* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--montserrat-font);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  // background-color: #18181b;
  background-color: rgb(15, 23, 42/1);
  color: rgb(226 232 240);
}

h1,
h2,
h3,
h4 {
  color: rgb(226 232 240);
  margin-bottom: 3px;
  ;
}

p {
  color: rgb(226 232 240);
}

button {
  background: rgb(63, 63, 70);
  color: rgb(244, 244, 245);
  border-radius: 4px;
  padding: 7px 19px;
  font-family: var(--montserrat-font);
  border: none;
  cursor: pointer;
}